/* Fondo general */
body {
  margin: 0;
  font-family:  sans-serif;
  background: url('../img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
}

/* Logo arriba */
.logo-container {
  margin-top: 30px;
}

.logo {
  width: 140px;
}

/* Textos principales */
.contenido {
  text-align: center;
  margin-top: 10px;
}


.contenido h1 {
  font-size: 90px;
  margin: 0;
  font-weight: 100;
}



/* Formulario */
.form-container {
  background: rgba(70, 120, 129, 0.582);
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
  width: 300px;
  color: #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  font-size: 13px;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  flex: 1;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000b4;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #5f9ab1;
}

.forgot-password {
  margin-top: 20px;
  padding: 12px;
  background-color: #ffffff;
  color: #020202c0;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;
}

.forgot-password:hover {
  background-color: #5f9ab1;
}
